*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* global class */
.container{
    width: 85%;
    margin: 60px auto;
}
.green-btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.green-btn img{
    padding: 2px;
}
.green-btn:hover{
    background-color: #133622;
}
.p-info{
    color: #627382;
    margin-top: 16px;
}
.sub-heading{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}
/* nav bar */
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu-items ul{
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
}
.menu-items ul li a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}

.menu-items ul li a:hover{
    color: #469165;
}

/* banner */
.banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.notice{
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    gap: 4px;
}
.banner .notice p{
    color: #469165;
    font-weight: 600;
}
.white-heading{
    color: #fff;
    font-size: 72px;
    font-weight: 700;
}
.green-heading{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}
.banner p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
}
.btn-section{
    display: flex;
    gap: 24px;
}
.white-btn{
    background: none;
    border: 2px solid #fff;
}

/* notes */
.notes{
    text-align: center;
}

.card-section{
    display: flex;
    justify-content: space-between;
}
.card{
    margin-top: 48px;
    height: 300px;
    width: 322px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 12px;
}
.card img{
    padding: 20px;
    background-color: #F95555;
    border-radius: 50%;
}
/* second brain section  */
.second-brain{
    display: flex;
    align-items: center;
    gap: 50px;
}
.second-brain img{
    width: 550px;
}

.right h3{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.right .list{
    margin: 40px 0;
}
.list ul li{
    padding-left: 26px;
    background-image: url("../assets/CheckCircle.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-top: 20px;
}
/* early */
.early{
    text-align: center;
    border-radius: 12px;
    padding: 80px 40px;
    background: rgba(247, 246, 242, 1);
}
.early button{
    margin: 24px auto 10px auto;
}
/* footer  */
footer{
    background-color: #001931;
    padding: 100px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}
.data{
    display: flex;
    justify-content: space-between;
}
.social p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.social a i{
    color:white;
}
.social a i:hover{
    color: #627382;
}
.copyright hr{
    border: none;
    height: 1px;
    background-color: #627382;
}
.copyright p{
    margin-top: 6px;
    text-align: center;
    color: #fff;
}