*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* global class */
.container{
    width: 85%;
    margin: 60px auto;
}
.green-btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.green-btn img{
    padding: 5px;
}
.green-btn:hover{
    background-color: #133622;
}
.p-info{

}
/* nav bar */
nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu-items ul{
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
}
.menu-items ul li a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}

.menu-items ul li a:hover{
    color: #469165;
}

/* banner */
.banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.notice{
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    gap: 4px;
}
.notice p{
    color: #469165;
    font-weight: 600;
}
.white-heading{
    color: #fff;
    font-size: 72px;
    font-weight: 700;
}
.green-heading{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}
.banner p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
}
.btn-section{
    display: flex;
    gap: 24px;
}
.white-btn{
    background: none;
    border: 2px solid #fff;
}

/* notes */
.notes{
    text-align: center;
}
.notes h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}
.notes p{
    color: #627382;
    margin-top: 16px;
}
.card-section{
    display: flex;
    justify-content: space-between;
}
.card{
    margin-top: 48px;
    height: 300px;
    width: 322px;
    
}